<table class="description" summary="Oferta">
    <tr>
        <td class="main">
            <h1>
                <%= @oferta.title %> - R$ <%= @oferta.price_mask %>
            </h1>
            <fieldset>
                <legend>Descrição</legend>
                <%= @oferta.description %>
            </fieldset>
            Oferta criada no dia <%= l @oferta.created_at.to_date %><br/><br/>
            <%= render 'shared/comment_form' %>
            <table class="comments" summary="Comentários">
                <%= render @comments %>
            </table>
        </td>
        
        <td class="sidebar round">
            <strong>Tipo</strong> <%= @oferta.tipo_string %><br />
            <strong>Link</strong> <%= link_to @oferta.link, @oferta.link, :target => "_blank" %>
        </td>
    </tr>
</table>
