<table>
        <tr>
            <td class="main">
                <h1> Todas as Ofertas </h1>
                <% if @ofertas.empty? %>
                    <span>Não há nenhuma oferta cadastrada!</span>
                <% else %>
                    <%= will_paginate @ofertas %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                    <%= will_paginate @ofertas %>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong><%= link_to "Bebidas", '/todas_ofertas/bebidas' %></strong><br/>
                <strong><%= link_to "Beleza e Saúde", '/todas_ofertas/beleza e saude' %></strong><br/>
                <strong><%= link_to "Celulares e Telefones", '/todas_ofertas/celulares e telefones' %></strong><br/>
                <strong><%= link_to "DVDs e CDs", '/todas_ofertas/dvds e cds' %></strong><br/>
                <strong><%= link_to "Eletrodomésticos", '/todas_ofertas/eletrodomesticos' %></strong><br/>
                <strong><%= link_to "Eletrônicos", '/todas_ofertas/eletronicos' %></strong><br/>
                <strong><%= link_to "Esportes e Lazer", '/todas_ofertas/esportes e lazer' %></strong><br/>
                <strong><%= link_to "Informática", '/todas_ofertas/informatica' %></strong><br/>
                <strong><%= link_to "Livros", '/todas_ofertas/livros' %></strong><br/>
                <strong><%= link_to "Roupas e Calçados", '/todas_ofertas/roupas e Calcados' %></strong><br/>
                <strong><%= link_to "Viagens", '/todas_ofertas/viagens' %></strong><br/>
            </td>
        </tr>
</table>
