<table>
        <tr>
            <td class="main">
                <h1> Todas as Ofertas </h1>
                <% if @ofertas.empty? %>
                    <span>Não há nenhuma oferta cadastrada!</span>
                <% else %>
                    <%= will_paginate @ofertas %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                    <%= will_paginate @ofertas %>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong><%= link_to "Bebidas", '/todas_ofertas/Bebidas' %></strong><br/>
                <strong><%= link_to "Beleza e Saúde", '/todas_ofertas/Beleza e Saude' %></strong><br/>
                <strong><%= link_to "Celulares e Telefones", '/todas_ofertas/Celulares e Telefones' %></strong><br/>
                <strong><%= link_to "DVDs e CDs", '/todas_ofertas/DVDs e CDs' %></strong><br/>
                <strong><%= link_to "Eletrodomésticos", '/todas_ofertas/Eletrodomesticos' %></strong><br/>
                <strong><%= link_to "Eletrônicos", '/todas_ofertas/Eletronicos' %></strong><br/>
                <strong><%= link_to "Esportes e Lazer", '/todas_ofertas/Esportes e Lazer' %></strong><br/>
                <strong><%= link_to "Informática", '/todas_ofertas/Informatica' %></strong><br/>
                <strong><%= link_to "Livros", '/todas_ofertas/Livros' %></strong><br/>
                <strong><%= link_to "Roupas e Calçados", '/todas_ofertas/Roupas e Calcados' %></strong><br/>
                <strong><%= link_to "Viagens", '/todas_ofertas/Viagens' %></strong><br/>
            </td>
        </tr>
</table>
