<table class="profile" summary="Perfil">
    <tr>
        <td class="main">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <% unless @user.ofertas.empty? %>
                <table class="ofertas" summary="Minhas Ofertas">
                    <%= render @ofertas %>
                </table>
                <%= will_paginate @ofertas %>
            <% end %>
        </td>
        <td class="sidebar round">
            <strong>Nome</strong> <%= @user.name %><br />
            <strong>URL</strong>  <%= link_to user_path(@user), @user %>
            <% if not current_user? @user %>
                <%= form_for [@user, @relation] do |f| %>
                    <div class="actions">
                        <%= f.submit "Seguir ofertas deste usuário" %>
                    </div>
                <% end %>
            <% end %>
        </td>
    </tr>
    
</table>
