<script>
$(function(){
    $(".monetaria").maskMoney({decimal:",", thousands:"."});
})
</script>
<%= form_for(@oferta) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %> - 
        <%= f.label "R$" %>
        <%= f.text_field :price %>
    </div>
    <div class="field">
        <%= f.label :tipo %><br/>
        <%= f.select :tipo, options_para_tipos(params[:tipo]) %>
    </div>
    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
    </div>
    <div class="field">
        <%= f.label :link %><br />
        <%= f.text_field :link %>
    </div>
    <div class="actions">
        <%= f.submit "Confirmar" %>
    </div>
<% end %>
