<% if signed_in? %>
    <table>
        <tr>
            <td class="main">
                <h1> Ofertas do dia </h1>
                <% if @ofertas.empty? %>
                    <span>Não há nenhuma oferta cadastrada hoje ainda!</span>
                <% else %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong><%= link_to "Bebidas", '/ofertas_do_dia/Bebidas' %></strong><br/>
                <strong><%= link_to "Beleza e Saúde", '/ofertas_do_dia/Beleza e Saúde' %></strong><br/>
                <strong><%= link_to "Celulares e Telefones", '/ofertas_do_dia/Celulares e Telefones' %></strong><br/>
                <strong><%= link_to "DVDs e CDs", '/ofertas_do_dia/DVDs e CDs' %></strong><br/>
                <strong><%= link_to "Eletrodomésticos", '/ofertas_do_dia/Eletrodomésticos' %></strong><br/>
                <strong><%= link_to "Eletrônicos", '/ofertas_do_dia/Eletrônicos' %></strong><br/>
                <strong><%= link_to "Esportes e Lazer", '/ofertas_do_dia/Esportes e Lazer' %></strong><br/>
                <strong><%= link_to "Informática", '/ofertas_do_dia/Informática' %></strong><br/>
                <strong><%= link_to "Livros", '/ofertas_do_dia/Livros' %></strong><br/>
                <strong><%= link_to "Roupas e Calçados", '/ofertas_do_dia/Roupas e Calçados' %></strong><br/>
                <strong><%= link_to "Viagens", '/ofertas_do_dia/Viagens' %></strong><br/>
            </td>
        </tr>
    </table>
<% else %>
    <h1>DealWit.Me</h1>
    <p>
        <%= link_to "Cadastre-se agora!", novocadastro_path %>
    </p>
<% end %>
