<% if signed_in? %>
    <table>
        <tr>
            <td class="main">
                <h1> Ofertas do dia </h1>
                <% unless @ofertas.empty? %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong><%= link_to "Bebidas", '/Bebidas' %></strong><br/>
                <strong><%= link_to "Beleza e Saúde", '/Beleza e Saúde' %></strong><br/>
                <strong><%= link_to "Celulares e Telefones", '/Celulares e Telefones' %></strong><br/>
                <strong><%= link_to "DVDs e CDs", '/DVDs e CDs' %></strong><br/>
                <strong><%= link_to "Eletrodomésticos", '/Eletrodomésticos' %></strong><br/>
                <strong><%= link_to "Eletrônicos", '/Eletrônicos' %></strong><br/>
                <strong><%= link_to "Esportes e Lazer", '/Esportes e Lazer' %></strong><br/>
                <strong><%= link_to "Informática", '/Informática' %></strong><br/>
                <strong><%= link_to "Livros", '/Livros' %></strong><br/>
                <strong><%= link_to "Roupas e Calçados", '/Roupas e Calçados' %></strong><br/>
                <strong><%= link_to "Viagens", '/Viagens' %></strong><br/>
            </td>
        </tr>
    </table>
<% else %>
    <h1>DealWit.Me</h1>
    <p>
        <%= link_to "Cadastre-se agora!", novocadastro_path %>
    </p>
<% end %>
