<% if signed_in? %>
    Página Inicial
<% else %>
        <h1>DealWit.Me</h1>
            <div class="round esquerda">
                <p>
                    <ul>
                        <li>Quem somos?</li>
                        <li>???Mais tópicos???</li>
                    <ul>
                </p>
            </div>
            <div class="round direita">
                <h1>Cadastre-se Aqui</h1>
                <%= form_for(@user) do |f| %>
                    <%= render 'shared/error_messages', :object => f.object %>
                    <div class="field">
                        <%= f.label :name %><br/>
                        <%= f.text_field :name %>
                    </div>
                    <div class="field">
                        <%= f.label :email %><br/>
                        <%= f.text_field :email %>
                    </div>
                    <div class="field">
                        <%= f.label :password %><br/>
                        <%= f.password_field :password %>
                    </div>
                    <div class="field">
                        <%= f.label :password_confirmation %><br/>
                        <%= f.password_field :password_confirmation %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Confirmar" %>
                    </div>
                <% end %>
            </div>
        
<% end %>
