<% if signed_in? %>
    <table>
        <tr>
            <td class="main">
                <h1> Ofertas do dia </h1>
                <% if @ofertas.empty? %>
                    <span>Não há nenhuma oferta cadastrada hoje ainda!</span>
                <% else %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong><%= link_to "Bebidas", '/ofertas_do_dia/bebidas' %></strong><br/>
                <strong><%= link_to "Beleza e Saúde", '/ofertas_do_dia/beleza e saude' %></strong><br/>
                <strong><%= link_to "Celulares e Telefones", '/ofertas_do_dia/celulares e telefones' %></strong><br/>
                <strong><%= link_to "DVDs e CDs", '/ofertas_do_dia/dvds e cds' %></strong><br/>
                <strong><%= link_to "Eletrodomésticos", '/ofertas_do_dia/eletrodomesticos' %></strong><br/>
                <strong><%= link_to "Eletrônicos", '/ofertas_do_dia/eletronicos' %></strong><br/>
                <strong><%= link_to "Esportes e Lazer", '/ofertas_do_dia/esportes e lazer' %></strong><br/>
                <strong><%= link_to "Informática", '/ofertas_do_dia/informatica' %></strong><br/>
                <strong><%= link_to "Livros", '/ofertas_do_dia/livros' %></strong><br/>
                <strong><%= link_to "Roupas e Calçados", '/ofertas_do_dia/roupas e calcados' %></strong><br/>
                <strong><%= link_to "Viagens", '/ofertas_do_dia/viagens' %></strong><br/>
            </td>
        </tr>
    </table>
<% else %>
    <h1>DealWit.Me</h1>
    <table>
        <tr>
            <td class="main">
                <p>
                    <ul>
                        <li>Quem somos?</li>
                        <li>???Mais tópicos???</li>
                    <ul>
                </p>
            </td>
        </tr>
        <tr>
            <td class="sidebar round">
                <h1>Cadastre-se Aqui</h1>
                <%= form_for(@user) do |f| %>
                    <%= render 'shared/error_messages', :object => f.object %>
                    <div class="field">
                        <%= f.label :name %><br/>
                        <%= f.text_field :name %>
                    </div>
                    <div class="field">
                        <%= f.label :email %><br/>
                        <%= f.text_field :email %>
                    </div>
                    <div class="field">
                        <%= f.label :password %><br/>
                        <%= f.password_field :password %>
                    </div>
                    <div class="field">
                        <%= f.label :password_confirmation %><br/>
                        <%= f.password_field :password_confirmation %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Confirmar" %>
                    </div>
                <% end %>
            </td>
        </tr>
    </table>    
<% end %>
