<!DOCTYPE html>
<html>
    <head>       
        <title><%= title %></title>
        <%= csrf_meta_tag %>
        <%= render 'layouts/stylesheets' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'jquery', 'jquery.maskMoney' %>
    </head>
    <body>
        <div class="container">
            <% if signed_in? %>
                <%= render 'layouts/header' %><br/><br/> 
            <% end %>
            <%= link_to logo, root_path %>
            <%= render 'layouts/menu' %>
            <section class="round">
                <% flash.each do |key, value| %>
                    <%= content_tag(:div, value, :class => "flash #{key}") %>
                <% end %> 
                <%= yield %>
            </section>
           <%= debug(params) if Rails.env.development? %>
        </div>

    <script type="text/javascript">
        // USER VOICE //
        var uservoiceOptions = {
            /* required */
            key: 'dealwitme',
            host: 'dealwitme.uservoice.com',
            forum: '104035',
            showTab: true,
            /* optional */
            alignment: 'right',
            background_color:'#f00',
            text_color: 'white',
            hover_color: '#06C',
            lang: 'pt_BR'
      };

      function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };

</script>
    </body>
</html>
